<title>FLIXR</title>
</head>
<body>
<nav class="navbar navbar-dark bg-black navbar-expand fixed-top">
  <a class="navbar-brand text-light" href="/dashboard">FLIXR</a>
  <ul class="navbar-nav ml-auto">
  </ul>
</nav>
<div class="container-fluid px-0 flex-grow-1">
  <div class="row no-gutters flex-nowrap navbar-expand-lg">
      <div class="col-xl-1 col-auto text-white sidebar bg-black min-vh-100">
          <div class="row no-gutters flex-nowrap sticky-top sticky-top-side">
              <div class="col-sm-12 text-center">
                  <div class="sidenav">
                    <a class="nav-link py-2" href="/dashboard"><i class="ml-auto mdi mdi-home-outline icon-white"></i></a>
                    <a class="nav-link py-2" href="/dashboard#sectionMyPlaylists"><i class="ml-auto mdi mdi-youtube-subscription icon-white"></i></a>
                    <a class="nav-link py-2" href="/playlists/new"><i class="ml-auto mdi mdi-plus-circle icon-white"></i></a>
                    <a class="nav-link py-2" href="/users/settings"><i class="ml-auto mdi mdi-cog-outline icon-white"></i></a>

                    <a class="nav-link py-2" href="/users/logout"><i class="ml-auto mdi mdi-logout-variant icon-white"></i></a>

                  </div>
              </div>
          </div>
      </div>