<%- include('./partials/header') %> 
<%- include('./partials/navbar')  %> 



<div class="container-fluid mt-5 d-flex justify-content-center flex-grow-1">
    <div class="row text-center">
        <div class="col-xl-12">
<img class="img404" src="/images/1981-removebg-preview.png">             
    <h1 class="page404">Looks like we've routed off course, Cap'n!</h1> 
    <h2 class="page404-h2">This page is lost in space...</h2>
        </div>
    </div>
</div>


<%- include('./partials/footer') %>