<%- include('partials/header.ejs') %>

<h1 class="mt-4">Flixr Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<a href="/dashboard" class="btn btn-secondary">Home</a>
<a href="/playlists/new" class="btn btn-secondary">Create a Playlist</a>
<a href="/playlists" class="btn btn-secondary">My Playlists</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>




<%- include('partials/footer.ejs') %>