body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-playlist-form {
  display: none;
}

.playlist-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  width: 500px;
}

.review-movies {
  display: none;
}

.chosen-movies {
  width: 100%;
  height: 500px;
}

.chosen-movies img {
  width: 30%;
}

/********** Toggled Classes */
.display-content {
  display: block;
}

.hide-content {
  display: none;
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }
  
  .carousel-inner .carousel-item-left.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
transform: translateX(0);
}

