:root {
  --bg-gradient: linear-gradient(269deg, #1b1a2e, #190c3e);
  --bg-dark: #090118;
  --bg-md: rgba(139, 81, 245, .34);
  --bg-md-light: #8b51f5;
  --bg-light: #e8ddfd;
}

body {
  overflow-x: hidden;
  padding-top: 55px;
  background: linear-gradient(269deg, #1b1a2e, #190c3e) !important;
}

.navbar-brand {
  font-size: 1.5rem !important;
  margin-right: 0 !important;
  text-align: center !important;
}

.fixed-top {
  max-width: 8.333333%;
  background-color: #090118 !important;
}

a.d-lg-none.d-inline.mr-3 {
  color: #fff !important;
}

.quiz-desc {
  text-align: center;
}

.vertical-navbar {
  position: fixed;
  left: 0;
}

.bg-black {
  background-color: #090118;
}

i.icon-white {
  color: #fff;
}

.sticky-top-side {
  top: 70px;
}

.sidebar .mdi, .navbar .mdi {
  font-size: 26px;
}

.sidenav .nav-link {
  width: 100%;
}

.sidenav .nav-link.active {
  background-color: #232930;
}

.bg-light {
  background-color: rgba(200,200,200,0.1) !important;
}

main.col.px-4.px-lg-5.pt-5 {
  background: linear-gradient(269deg, #1b1a2e, #190c3e) !important;
}

.card.text-light.shadow-sm.h-100 {
  background-color: rgba(139, 81, 245, .34);
}

.btn-outline-secondary {
  color: #8b51f5 !important;
  border-color: #8b51f5 !important;
}

.btn-outline-secondary:hover {
  background-color: #e8ddfd !important;
}

.btn-outline-primary {
  color: #fff;
  border-color: #fff;
}

.btn-outline-primary:hover {
  background-color: #8b51f5;
  border-color: #fff;
}

.pt-2, .py-2 {
  padding-top: 3rem!important;
}

.row {
  display: -webkit-box !important;
}

.container-fluid.px-0.flex-grow-1.quizlet {
  height: 100vh;
  position: fixed;
}

.p-4 {
  padding: .5rem 1.5rem !important;
}

/* ***************** Movies/Recommendations Page */
.create-playlist-form {
  display: none;
}

.playlist-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  width: 500px;
}

.review-movies {
  display: none;
}

.chosen-movies {
  width: 100%;
  height: 500px;
}

.chosen-movies img {
  width: 30%;
}


/* DEMO 3 */
/* https://jsfiddle.net/bootstrapious/sqe028y1/ */
.hover-3::after {
  content: '';
  width: calc(100% - 3rem);
  height: calc(100% - 3rem);
  border: 1px solid #fff;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 90;
  transition: all 0.3s;
  transform: scale(1.1);
  opacity: 0;
  display: block;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
}

.hover-3-content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 99;
}

.hover-3-description {
  opacity: 0;
  transform: scale(1.3);
  transition: all 0.3s;
}


.hover-3 .hover-overlay {
  background: rgba(0, 0, 0, 0.2);
}

.hover-3:hover img {
  width: 100%;
}

.hover-3:hover::after {
  opacity: 1;
  transform: none;
}

.hover-3:hover .hover-3-description {
  opacity: 1;
  transform: none;
}

.hover-3:hover .hover-overlay {
  background: rgba(0, 0, 0, 0.8);
}

.hover-overlay, .hover-3-content, .hover-3-description {
  pointer-events: none;
}

/********** Toggled Classes */
.display-content {
  display: block;
}

.hide-content {
  display: none;
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }
  
  .carousel-inner .carousel-item-left.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
transform: translateX(0);
}

/* When hitting a certain window width, the brand will disappear */
@media (max-width:992px) {
  .navbar-brand {
    display: none !important; 
  }
}