<%- include('../partials/header.ejs') %>


<form id="moviesForm" method="GET">

  <input type="text" id="paramString">

  <div class="quizlet"></div>
  <button class="start-quiz">Start Quiz</button>


</form>



<%- include('../partials/footer.ejs') %>