<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap Styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <!-- Font -->
     <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Materialize Icons -->
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">
    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" defer></script>
    <!-- Main JS -->
    <script src="/js/app.js" defer></script>
    <title>FLIXR</title>
  </head>
<body>
  <nav class="navbar navbar-dark bg-black navbar-expand fixed-top">
    <a data-toggle="collapse" href="#" data-target="#fullmenu" role="button" class="d-lg-none d-inline mr-3">
        <i class="mdi mdi-view-sequential"></i>
    </a>
    <a class="navbar-brand text-light" href="../dashboard">FLIXR</a>
    <ul class="navbar-nav ml-auto">
    </ul>
  </nav>
  <div class="container-fluid px-0 flex-grow-1 quizlet">
    <div class="row no-gutters flex-nowrap navbar-expand-lg h-100">
        <div class="col-xl-1 col-auto text-white sidebar bg-black">
            <div class="row no-gutters flex-nowrap sticky-top sticky-top-side">
                <div class="col-sm-12 text-center">
                    <div class="sidenav">
                      <a class="nav-link py-2" href="../dashboard"><i class="ml-auto mdi mdi-home-outline icon-white"></i></a>
                      <a class="nav-link py-2" href="../dashboard#sectionMyPlaylists"><i class="ml-auto mdi mdi-youtube-subscription icon-white"></i></a>
                      <a class="nav-link py-2" href="/playlists/new"><i class="ml-auto mdi mdi-plus-circle icon-white"></i></a>
                      <a class="nav-link py-2" href="#"><i class="ml-auto mdi mdi-cog-outline icon-white"></i></a>
                      <a class="nav-link py-2" href="../users/logout"><i class="ml-auto mdi mdi-logout-variant icon-white"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <main class="col px-4 px-lg-5 pt-5">
            <section class="row pt-5" id="sectionQuizlet">
                <div class="col pt-4 d-flex flex-column justify-content-center quiz-desc">
                    <h3 class="text-light">Choose the option you're vibing with in this moment.</h3>
                    <div class="rounded flex-row d-flex justify-content-center align-self-center w-50 flex-fill p-4">
                        <div class="card text-light shadow-sm h-100">
                            <div class="card-body">
                              <form id="moviesForm" action="http://localhost:5000/movies/recommendations" method="GET">
                                <div class="form-group col-xl-12 text-center">
                                <div class="quizletForm"></div>
                                <button class="start-quiz btn btn-outline-primary rounded-pill mt-2">Start Quiz</button>
                              
                                <input type="hidden" name="vote_count_gte" id="vote_count_gte" value="100" />
                                <input type="hidden" name="include_adult" id="include_adult" value="false" />
                                <input type="hidden" name="genre_ids" id="genre_ids" />
                                <input type="hidden" name="language" id="language" />
                                <input type="hidden" name="vote_average_gte" id="vote_average_gte" />
                                <input type="hidden" name="vote_average_lte" id="vote_average_lte" />
                                <input type="hidden" name="release_date_gte" id="release_date_gte" />
                                <input type="hidden" name="release_date_lte" id="release_date_lte" />
                                <input type="hidden" name="with_runtime_gte" id="with_runtime_gte" />
                                <input type="hidden" name="with_runtime_lte" id="with_runtime_lte" />
                                
                              </div>
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Section ends for my playlists-->
        </main>
            <!--Footer can go here -->

<%- include('../partials/footer.ejs') %>