<%- include('../partials/header.ejs') %>

<form action="/playlists" method="POST">

  <div class="form-group">
    <label for="playlist-title">Playlist Name</label>
    <input 
      type="text" 
      id="playlist-title" 
      name="title" 
    />
  </div>

  <div class="form-group">
    <label for="playlist-description">Playlist Description</label>
    <textarea 
      id="playlist-description" 
      name="description" 
      cols="30" 
      rows="10" 
      placeholder="Enter playlist description here. (You can change this later)">
    </textarea>
  </div>

  <div class="quizlet">  </div>

  <button class="start-quiz">Start Quiz</button>

</form>



<%- include('../partials/footer.ejs') %>